@using RS1_vjezbe.EntityModels
@using RS1_vjezbe.Models

@model List<StudentOcjenePrikazVM>

@{
    ViewData["Title"] = "Prikaz";
    //var studenti = (List<Student>)ViewData["studenti"];
    //var q = ViewData["qKey"];
    Layout = null;

}

<table class="table table-bordered">

        <thead>
            <tr>
                <th>Naziv predmeta</th>
                <th>Ocjena</th>
                <th>Datum</th>
                <th>Akcija</th>
            </tr>
        </thead>

        <tbody>
    @foreach (StudentOcjenePrikazVM s in Model)
    {

            <tr>
                <td>@s.NazivPredmeta</td>
                <td>@s.BrojcanaOcjena</td>
                <td>@s.Datum.ToString("dd.MM.yyyy")</td>
                <td>
                    <button onclick="UrediOcjenu(@s.ID)">Uredi</button>
                </td>
            </tr>
    }
        </tbody>

</table>