@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RS1 Vježba</h1>
    <p><a href="/Student/Prikaz">Prikaz studenata</a></p>
    <br />
    <p><a href="/TestniPodaci/Index">Generisanje podataka</a></p>
</div>
